# Named Groups

> Using numbers to refer to groups can be tedious and confusing, and the worst thing is that it doesn't allow you to give meaning or context to the group. That's why we have named groups.

Instead of referring to groups by numbers, groups can be referenced by a name. Such a group is called a **named group**.

- The syntax for a named group is one of the Python-specific extensions: `(?P<name>...)`  where `name` is, obviously, the name of the group. 

- Named groups behave exactly like capturing groups, and additionally associate a name with a group.

- Here is a table which shows three different ways to refer to named groups:
    
<table style="border: 1px solid black; font-size:15px;">
<thead>
    <th>Use</th>
    <th>Syntax</th>
</thead>
    
<tbody>
<tr>
    <td>Inside a pattern</td>
    <td>(?P=name)</td>
</tr>
    
<tr>
    <td>In the repl string of the sub operation</td>
    <td>\g&lt;name&gt;</td>
</tr>

<tr>
    <td>In any of the operations of the MatchObject</td>
    <td>match.group('name')</td>
</tr>
</tbody>
</table>

### Example 1

Consider a scenario where we want to extract the first name and last name of a person.

In [51]:
import re

In [52]:
txt = "Nikhil Kumar"

In [53]:
pattern = re.compile("(?P<first>\w+) (?P<last>\w+)")

In [54]:
pattern

re.compile(r'(?P<first>\w+) (?P<last>\w+)', re.UNICODE)

In [55]:
match = pattern.match(txt)

In [56]:
match

In [57]:
match.group('first')

'Nikhil'

In [58]:
match.group('last')

'Kumar'

In [59]:
match.group(1)

'Nikhil'

In [60]:
match.group(2)

'Kumar'

In [61]:
match.group(0)

'Nikhil Kumar'

In [62]:
match.groupdict()

{'first': 'Nikhil', 'last': 'Kumar'}

### Example 2

Now consider the scenario where we want to swap first name and last name in above example.

In [33]:
pattern.sub(r"\2 \1", txt)

'Kumar Nikhil'

In [34]:
pattern.sub("\g<last> \g<first>", txt)

'Kumar Nikhil'

### Example 3

Consider a scenario where we want to check if a person has same first and last name.

In [44]:
txt = "Jhonson Jhonson"

In [45]:
pattern = re.compile("(?P<first>\w+) (?P=first)")

In [46]:
pattern.findall(txt)

['Jhonson']

In [47]:
pattern.match(txt)

![](images/memes/meme28.jpg)

In [1]:
import re
string = 'New York, New York 11369'

In [2]:
# ([A-Za-z\s]+)
# ([A-Za-z\s]+)
# (\d+)

In [3]:
match =re.search('([A-Za-z\s]+),([A-Za-z\s]+)(\d+)', string)

In [4]:
match.group(1), match.group(2), match.group(3), match.group(0)

('New York', ' New York ', '11369', 'New York, New York 11369')

In [6]:
pattern = re.compile('(?P<City>[A-Za-z\s]+),(?P<State>[A-Za-z\s]+)(?P<ZipCode>\d+)')

In [7]:
match = re.search(pattern, string)

In [8]:
match.group('City'), match.group('State'), match.group('ZipCode')

('New York', ' New York ', '11369')

In [9]:
match.group(1)

'New York'

In [10]:
match.groups()

('New York', ' New York ', '11369')

In [11]:
#Just incase you forget the names of the groups you used

match.groupdict()

{'City': 'New York', 'State': ' New York ', 'ZipCode': '11369'}